@use "sass:math";

// funcrions
@function remSize($size) {
	$remSize: math.div($size, 16px);
	@return #{$remSize}rem;
}

// mixins
@mixin setHslaColor($property, $hslcolor, $alpha: 1) {
	#{$property}: hsla(
		hue($hslcolor),
		saturation($hslcolor),
		lightness($hslcolor),
		$alpha
	);
}

@mixin pseudo(
	$type: before,
	$pos: absolute,
	$content: "",
	$top: 0,
	$left: 0,
	$bottom: 0,
	$right: 0
) {
	position: relative;
	&::#{$type} {
		content: $content;
		position: $pos;
		top: $top;
		left: $left;
		bottom: $bottom;
		right: $right;
		@content;
	}
}

$breakpoints: (
	large: 65em,
);

@mixin media($size) {
	@if map.has-key($breakpoints, $size) {
		$breakpoint: map-get($breakpoints, $size);
		@media screen and (min-width: $breakpoint) {
			@content;
		}
	} @else {
		@error 'the keyword #{$size} is not in the $breakpoints map';
	}
}

// colors
$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(0, 0%, 81%);

$clr-primary-200: hsl(210, 46%, 95%);
$clr-primary-400: hsl(217, 19%, 35%);
$clr-primary-600: hsl(219, 29%, 14%);

$clr-accent-400: hsl(263, 55%, 52%);

// typography
$ff-base: "Barlow Semi Condensed", sans-serif;

$fw-regular: 500;
$fw-bold: 600;

$fs-11: 0.6875rem;
$fs-13: 0.8125rem;
$fs-20: 1.25rem;
