@use "./base" as *;

.testimonial {
	padding: 1.625rem 2rem 2rem;
	max-width: 540px;
	border-radius: 8px;
	box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);

	& .author {
		gap: 1rem;
		line-height: 0.8125rem;

		&-photo {
			width: 1.75rem;
			height: 1.75rem;
			border-radius: 50%;
		}

		&-isVerified {
			font-size: 0.6875rem;
			opacity: 0.5;
		}
	}

	&-heading {
		margin-top: 1.125rem;
		font-size: $fs-20;
		font-weight: $fw-bold;
		line-height: 1.5rem;
	}

	&-content {
		margin-top: 1rem;
		line-height: 1.125rem;
		opacity: 0.7;
	}
}
