@use "./base" as *;

body {
	display: grid;
	place-items: center;
	font-size: $fs-13;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-400;
	background-color: $clr-primary-200;
}

main {
	padding-block: 4.4375rem;
}

.container {
	width: min(100% - 3rem, 69.375rem);
	margin-inline: auto;
}

.flex-flow {
	display: flex;
}

.grid-flow {
	display: grid;
	gap: 1.5rem;
	grid-auto-columns: 1fr;
	grid-template-areas:
		"one"
		"two"
		"three"
		"four"
		"five";

	@include media(small) {
		grid-template-areas:
			"one one"
			"two three"
			"four four"
			"five five";
	}

	@include media(medium) {
		grid-template-areas:
			"one one"
			"three five"
			"four five"
			"four two";
	}

	@include media(large) {
		grid-template-areas:
			"one one two five"
			"three four four five";
	}
}

.testimonial:nth-of-type(1) {
	grid-area: one;
}

.testimonial:nth-of-type(2) {
	grid-area: two;
}

.testimonial:nth-of-type(3) {
	grid-area: three;
}

.testimonial:nth-of-type(4) {
	grid-area: four;
}

.testimonial:nth-of-type(5) {
	grid-area: five;
}
