@use "./base" as *;

body {
	display: grid;
	place-items: center;
	font-size: $fs-13;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-400;
	background-color: $clr-primary-200;
}

main {
	padding-block: 4.4375rem;
}

.container {
	width: min(100% - 3rem, 69.375rem);
	margin-inline: auto;
}

.flex-flow {
	display: flex;
}

.grid-flow {
	display: grid;
	gap: 1.5rem;

	@include media(large) {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 1.875rem;
	}
}

@include media(large) {
	.testimonial:nth-of-type(1) {
		grid-area: 1 / 1 / 1 / 3;
	}

	.testimonial:nth-of-type(2) {
		grid-area: 1 / 3 / 1 / 4;
	}

	.testimonial:nth-of-type(3) {
		grid-area: 2 / 1 / 2 / 2;
	}

	.testimonial:nth-of-type(4) {
		grid-area: 2 / 2 / 2 / 4;
	}

	.testimonial:nth-of-type(5) {
		grid-area: 1 / 4 / 3 / 5;
	}
}
