*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	font: inherit;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	min-height: 100dvh;
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

img,
svg {
	max-width: 100%;
	display: block;
}
